nav {
    width: 100%;
    font-size: 3rem;
    color: rgb(82, 185, 199);
    margin-bottom: 50px;
    background-color: #f0f2f3;
    height: auto;
    font-family: 'Sanchez', serif, cursive;
  }
  
  a {
    color:  rgb(82, 185, 199);
  }
  
  a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
    text-align: center;
  }
  
  ul {
    padding-left: 0px;
  }